@using Microsoft.AspNetCore.Http
<!-- BEGIN: Header-->

@section Style {



    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/pricing.css">

    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/custom/custom.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm/dist/jquery-confirm.min.css" rel="stylesheet" />
    <!-- END: Custom CSS-->
}


<header class="page-topbar" id="header">

    <div class="navbar navbar-fixed">

        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark blue darken-1" style="z-index: 1;">
            <div style="position: absolute; width: 1200px; height: 68px" id="particles-js"></div>

            <div class="nav-wrapper">

                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper"><a class="brand-logo darken-1" asp-action="Home" asp-controller="Home"><img src="~/app-assets/images/logo/Inafocam.jpg" alt="materialize logo"></a></h1>
                    </li>
                </ul>


                @*<h2 class="center">Plataforma de Seguimiento y EvaluaciCanci&oacute;n </h2">*@

                @*<div class="header-search-wrapper hide-on-med-and-down">
                        <i class="material-icons">search</i>
                        <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Explore Materialize">
                    </div>*@
                @await Component.InvokeAsync("UserInfo")

                <!-- translation-button-->
                @*<ul class="dropdown-content" id="translation-dropdown">
                        <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-gb"></i> English</a></li>
                        <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-fr"></i> French</a></li>
                        <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-cn"></i> Chinese</a></li>
                        <li><a class="grey-text text-darken-1" href="#!"><i class="flag-icon flag-icon-de"></i> German</a></li>
                    </ul>*@
                <!-- notifications-dropdown-->
                <ul class="dropdown-content" id="notifications-dropdown">
                    <li>
                        <h6>NOTIFICATIONS<span class="new badge">5</span></h6>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle cyan small">add_shopping_cart</span> A new order has been placed!</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                    </li>
                    <li>
                        <a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                    </li>
                    <li>
                        <a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                    </li>
                    <li>
                        <a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                    </li>
                    <li>
                        <a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                    </li>
                </ul>
                <!-- profile-dropdown-->

            </div>
            <nav class="display-none search-sm">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input class="search-box-sm" type="search" required="">
                            <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i class="material-icons search-sm-close">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </nav>
        <!-- BEGIN: Horizontal nav start-->
        <nav class="white hide-on-med-and-down" id="horizontal-nav">
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down" id="ul-horizontal-nav" data-menu="menu-navigation">
                    <li>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="material-icons">dashboard</i><span>Inicio</span>
                        </a>
                        @*<ul class="dropdown-content dropdown-horizontal-list" id="DashboardDropdown" tabindex="0">
                                <li data-menu="" tabindex="0">
                                    <a href="dashboard-modern.html">Modern</a>
                                </li>
                                <li class="active" data-menu="" tabindex="0">
                                    <a href="dashboard-ecommerce.html">eCommerce</a>
                                </li>
                                <li data-menu="" tabindex="0">
                                    <a href="dashboard-analytics.html">Analytics</a>
                                </li>
                            </ul>*@
                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="TemplatesDropdown"><i class="material-icons">dvr</i><span>Secciones@*<i class="material -icons right">keyboard_arrow_down</i>*@</span></a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="TemplatesDropdown" tabindex="0">
                           <li data-menu="" tabindex="0">
                               <a asp-area="ProgramasDeBecas" asp-controller="ProgramaDeBeca" asp-action="Index">Programas Formativos</a>
                            </li>
                            
                             <li data-menu="" tabindex="0">
                                 <a asp-area="ConvocatoriaDeBecas" asp-controller="ConvocatoriaDeBeca" asp-action="Index">Creaci&oacute;n de Cohorte</a>
                            </li>

                            <li data-menu="" tabindex="0">
                                <a asp-area="AcuerdoProgramasdeBecas" asp-controller="AcuerdoProgramasdeBeca" asp-action="Index">Acuerdos de Programas Formativos</a>
                            </li>

                           

                           
                            @*&eacute;*@
                            @*<li data-menu="" tabindex="0">
                                    <a href="#">Instituci&oacute;n Formadora</a>
                                </li>*@




                            <li data-menu="" tabindex="0">
                                <a asp-area="ProgramacionDeSeguimiento" asp-controller="ProgramacionDeSeguimiento" asp-action="Index" >Programaci&oacute;n de Seguimientos</a>
                            </li>
                            @*<li data-menu="" tabindex="0">
                                    <a href="#">Mantenimiento</a>
                                </li>

                                <li data-menu="" tabindex="0">
                                    <a asp-area="Usuarios" asp-controller="Usuario" asp-action="Index">Seguridad</a>
                                </li>*@
                            @*<li data-menu="" tabindex="0">
                                    <a href="../vertical-menu-nav-dark-template/">Navbar Dark</a>
                                </li>
                                <li data-menu="" tabindex="0">
                                    <a href="../vertical-gradient-menu-template/">Gradient Menu</a>
                                </li>
                                <li data-menu="" tabindex="0">
                                    <a href="../vertical-dark-menu-template/">Dark Menu</a>
                                </li>
                                <li data-menu="" tabindex="0">
                                    <a href="../horizontal-menu-template/">Horizontal Menu</a>
                                </li>*@
                        </ul>

                    </li>



                    <li>
                        <a class="dropdown-menu" href="#" data-target="acciones"><i class="material-icons">extension</i><span>Acciones</span></a>
                        <ul class="dropdown-content dropdown-horizontal-list" id="acciones" tabindex="0">

                            @*&eacute;*@
                            <li data-menu="" tabindex="0">
                                <a asp-area="InstitucionFomadora" asp-controller="InstitucionFomadora" asp-action="Index">Instituci&oacute;n Formadora</a>
                            </li>

                    </li>
                    @*<li data-menu="" tabindex="0">
                        <a href="#">Mantenimiento</a>
                    </li>*@

                    <li data-menu="" tabindex="0">
                        <a asp-area="SeguimientoDeUniversidades" asp-controller="SeguimientoDeUniversida" asp-action="Index">Seguimientos Asignados</a>
                    </li>
                    
                    
                    <li data-menu="" tabindex="0">
                        <a asp-area="Usuarios" asp-controller="Usuario" asp-action="Index">Seguridad</a>
                    </li>
                    @*<li data-menu="" tabindex="0">
                            <a href="../vertical-menu-nav-dark-template/">Navbar Dark</a>
                        </li>
                        <li data-menu="" tabindex="0">
                            <a href="../vertical-gradient-menu-template/">Gradient Menu</a>
                        </li>
                        <li data-menu="" tabindex="0">
                            <a href="../vertical-dark-menu-template/">Dark Menu</a>
                        </li>
                        <li data-menu="" tabindex="0">
                            <a href="../horizontal-menu-template/">Horizontal Menu</a>
                        </li>*@
                </ul>

                </li>


                <li>
                    <a class="dropdown-menu " href="#" data-target="AppsDropdown">
                        <i class="material-icons">mail_outline</i><span>Mantenimientos</span>
                    </a>
                    <ul class="dropdown-content dropdown-horizontal-list" id="AppsDropdown" tabindex="0">
                        <li data-menu="" tabindex="0">
                            <a asp-area="Profesores" asp-controller="Profesor" asp-action="Index"><i class="mail_outline"></i>Maestros</a>
                        </li>
                        @*<li data-menu="" tabindex="0">
                            <a asp-area="Materias" asp-controller="Materia" asp-action="Index"><i class="mail_outline"></i>Materias</a>
                        </li>*@

                        <li data-menu="" tabindex="0">
                            <a asp-area="Representantes" asp-controller="Representante" asp-action="Index"><i class="mail_outline"></i>Representantes</a>
                        </li>

                        <li data-menu="" tabindex="0">
                            <a asp-area="Representantes" asp-controller="AgentType" asp-action="Index"><i class="mail_outline"></i>Tipos de Representates</a>
                        </li>

                        @*<li data-menu="" tabindex="0">
                            <a asp-area="Seguimientos" asp-controller="Seguimiento" asp-action="DesarrolloDelPlanDeEstudio"><i class="mail_outline"></i>Seguimiento</a>
                        </li>    
                        
                        
                        
                        <li data-menu="" tabindex="0">
                            <a asp-area="Seguimientos" asp-controller="Seguimiento" asp-action="ProgramaDeBecasMateriaUniversitaria"><i class="mail_outline"></i>Programa De Becas Materia Universitaria</a>
                        </li>*@

                        @*<li data-menu="" tabindex="0">
                                <a href="app-chat.html"><i class="chat_bubble_outline"></i>Chat</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="app-todo.html"><i class="check"></i>ToDo</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="app-contacts.html"><i class="contacts"></i>Contacts</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="app-calendar.html"><i class="today"></i>Calendar</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="eCommerce-products-page.html">Products Page</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="eCommerce-pricing.html">Pricing</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="eCommerce-invoice.html">Invoice</a>
                            </li>*@
                    </ul>

                </li>

                @*<li>
                    <a class="dropdown-menu " asp-controller="Home" asp-action="Instrucciones">
                        <i class="material-icons">help_outline</i><span>Instrucciones</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-menu " asp-controller="Home" asp-action="Soporte">
                        <i class="material-icons">headset_mic</i><span>Soporte</span>
                    </a>
                </li>*@


                @*<li>
                        <a class="dropdown-menu" href="#" data-target="PageDropdown"><i class="material-icons">content_paste</i><span>Pages<i class="material-icons right">keyboard_arrow_down</i></span></a><ul class="dropdown-content dropdown-horizontal-list" id="PageDropdown" tabindex="0">
                            <li data-menu="" tabindex="0">
                                <a href="page-contact.html">Contact</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="page-blog-list.html">Blog</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="page-search.html">Search</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="page-knowledge.html">Knowledge</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="page-faq.html">FAQs</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="page-blank.html">Page Blank</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="user-profile-page.html">User Profile</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="user-login.html">Login</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="user-register.html">Register</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="user-forgot-password.html">Forgot Password</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="user-lock-screen.html">Lock Screen</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="Cards"><i class="material-icons">cast</i><span>Cards<i class="material-icons right">keyboard_arrow_down</i></span></a><ul class="dropdown-content dropdown-horizontal-list" id="Cards" tabindex="0">
                            <li data-menu="" tabindex="0">
                                <a href="cards-basic.html">Cards</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="cards-advance.html">Cards Advance</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="cards-extended.html">Cards Extended</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="CssDropdown"><i class="material-icons">invert_colors</i><span>CSS<i class="material-icons right">keyboard_arrow_down</i></span></a><ul class="dropdown-content dropdown-horizontal-list" id="CssDropdown" tabindex="0">
                            <li data-menu="" tabindex="0">
                                <a href="css-typography.html">Typograpy</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="css-color.html">Color</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="css-grid.html">Grid</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="css-helpers.html">Helpers</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="css-media.html">Media</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="css-pulse.html">Pulse</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="css-sass.html">Sass</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="css-shadow.html">Shadow</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="css-animations.html">Animations</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="css-transitions.html">Transitions</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="BasicUIDropdown"><i class="material-icons">photo_filter</i><span>Basic UI<i class="material-icons right">keyboard_arrow_down</i></span></a><ul class="dropdown-content dropdown-horizontal-list" id="BasicUIDropdown" tabindex="0">
                            <li data-menu="" tabindex="0">
                                <a href="ui-basic-buttons.html">Basic Buttons</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-extended-buttons.html">Extended Buttons</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-icons.html">Icons</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-alerts.html">Alerts</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-badges.html">Badges</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-breadcrumbs.html">Breadcrumbs</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-chips.html">Chips</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-collections.html">Collections</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-navbar.html">Navbar</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-pagination.html">Pagination</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="ui-preloader.html">Preloader</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="AdvancedUIDropdown"><i class="material-icons">settings_brightness</i><span>Advanced UI<i class="material-icons right">keyboard_arrow_down</i></span></a><ul class="dropdown-content dropdown-horizontal-list" id="AdvancedUIDropdown" tabindex="0">
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-carousel.html">Carousel</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-collapsibles.html">Collapsibles</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-toasts.html">Toasts</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-tooltip.html">Tooltip</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-dropdown.html">Dropdown</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-feature-discovery.html">Discovery</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-media.html">Media</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-modals.html">Modals</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-scrollspy.html">Scrollspy</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-tabs.html">Tabs</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="advance-ui-waves.html">Waves</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="ExtraComponentsDropdown"><i class="material-icons">add_to_queue</i><span>Extra Components<i class="material-icons right">keyboard_arrow_down</i></span></a><ul class="dropdown-content dropdown-horizontal-list" id="ExtraComponentsDropdown" tabindex="0">
                            <li data-menu="" tabindex="0">
                                <a href="extra-components-range-slider.html">Range Slider</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="extra-components-sweetalert.html">Sweetalert</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="extra-components-nestable.html">Nestable</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="extra-components-translation.html">Translation</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="extra-components-highlight.html">Highlight</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="formsTables"><i class="material-icons">chrome_reader_mode</i><span>Forms &amp; Tables<i class="material-icons right">keyboard_arrow_down</i></span></a><ul class="dropdown-content dropdown-horizontal-list" id="formsTables" tabindex="0">
                            <li data-menu="" tabindex="0">
                                <a href="table-basic.html"><i class="border_all"></i>Basic Tables</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="table-data-table.html"><i class="border_all"></i>Data Tables</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="form-elements.html">Form Elements</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="form-validation.html">Form Validation</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="form-masks.html">Form Masks</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="form-file-uploads.html">File Uploads</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a class="dropdown-menu" href="#" data-target="ChartDropdown"><i class="material-icons">pie_chart_outlined</i><span>Chart<i class="material-icons right">keyboard_arrow_down</i></span></a><ul class="dropdown-content dropdown-horizontal-list" id="ChartDropdown" tabindex="0">
                            <li data-menu="" tabindex="0">
                                <a href="charts-chartjs.html">ChartJS</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="charts-chartist.html">Chartist</a>
                            </li>
                            <li data-menu="" tabindex="0">
                                <a href="charts-sparklines.html">Sparkline Charts</a>
                            </li>
                        </ul>

                    </li>*@
                </ul>
            </div>
            <!-- END: Horizontal nav start-->
        </nav>
    </div>
</header>
<!-- END: Header-->


@section Scripts
{
    <script src="~/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/app-assets/vendors/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="~/app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/app-assets/js/scripts/charts-sparklines.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/chartjs/chart.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/app-assets/js/scripts/card-advanced.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/lib/jquery-confirm/dist/jquery-confirm.min.js"></script>



    <script src="~/lib/jquery-confirm/dist/jquery-confirm.min.js"></script>


}

