@using Inafocam.core.Modelos

<table id="page-length-option" class="display">


    <thead>
        <tr>

            <th>Id Programa / Universidad</th>
            <th>Programa</th>
            <th>Universidad</th>
            <th>Cod.Scat</th>
            <th>Rango de Fechas</th>
            <th>Estado</th>
            <th>Nivel</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>

        @foreach (ScholarshipProgramUniversity item in Model)
        {
            <tr>
                <td>@item?.ScholarshipProgramUniversityId</td>
                <td>@item?.ScholarshipProgram?.ScholarshipProgramName </td>
                <td>@item?.University?.UniversityName </td>
                <td>@item?.ScatProgramCode</td>
                <td>@item?.StartDate - @item?.EndDate</td>
                <td>@item?.ScholarshipProgram?.ScholarshipLevel?.ScholarshipLevelName</td>
                <td>@item?.Status?.StatusName</td>
                <td>
                    <a class="tooltipped" data-position="top" data-tooltip="Editar" asp-area="AcuerdoProgramasdeBecas" asp-controller="AcuerdoProgramasdeBeca" asp-action="Editar" asp-route-id="@item?.ScholarshipProgramUniversityId">
                        <i class="material-icons">edit</i>
                    </a>
                </td>
            </tr>
        }




    </tbody>
    <tfoot>
        <tr>

            <th>Id Programa / Universidad</th>
            <th>Programa</th>
            <th>Universidad</th>
            <th>Cod.Scat</th>
            <th>Rango de Fechas</th>
            <th>Estado</th>
            <th>Nivel</th>
            <th>Acciones</th>

        </tr>
    </tfoot>
</table>

<div class="modal mt-4" id="formulariopassword"></div>

<div class="row ">
    <div class="col s5 center ml-10 mt-5 modal " id="formularioestado">

    </div>
</div>
