@using System.Globalization;
@model Inafocam.Web.Areas.SeguimientoDeUniversidades.Models.InformeIndexViewModel

<table id="page-length-option" class="display">


    <thead>
        <tr>

            <th>Id</th>
            <th>Creador</th>
            <th>Nombre del archivo</th>
            <th>Comentario</th>
            <th>Fecha de Creacion</th>          
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ReportList)
        {
            <tr>

                <td>@item?.ReportId</td>
                <td>@item?.Usuario.Nombre @item?.Usuario?.Apellido</td>
                <td>@item?.File?.FileName</td>
                <td>@item.Comment</td>
                <td>@item.CreationDate.ToString("D", CultureInfo.GetCultureInfo("es"))</td>

                <td>


                    <a class="tooltipped" data-position="top" data-tooltip="Ver documento"  href="\app-assets\documentos\informesfiles\@item?.File?.FilePath" target="_blank">
                        <i class="material-icons">remove_red_eye</i>
                    </a>

                    <a class="tooltipped red-text ml-2" href="#" data-position="top" data-tooltip="Eliminar" onclick="eliminar('@Url.Action("EliminarInforme", "SeguimientoDeUniversida", new { area = "SeguimientoDeUniversidades", reportId= item.ReportId })')">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
        }






    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Creador</th>
            <th>Nombre del archivo</th>
            <th>Descripcion</th>
            <th>Fecha de Creacion</th>
            <th>Acciones</th>

        </tr>
    </tfoot>
</table>



