@using Inafocam.core.Modelos

<table id="page-length-option" class="display">


    <thead>
        <tr>

            <th>Id Seguimiento</th>
            <th>Programa</th>
            <th>Universidad</th>
            <th>Cordinador</th>
            <th>Rango de Fechas</th>
            <th>Estado</th>
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>
        @foreach (ScholarshipProgramTracing item in Model)
        {
            <tr>
                <td>@item?.ScholarshipProgramTracingId</td>
                @*<td>@item.ScholarshipProgramUniversity.ScholarshipProgram.ScholarshipProgramName</td>*@
                <td>@item?.ScholarshipProgramUniversity.ScholarshipProgram?.ScholarshipProgramName</td>
                <td>@item?.ScholarshipProgramUniversity?.University?.UniversityName</td>
                <td>@item?.Coordinator.Contact?.ContactName</td>
                <td>@item?.StartDate  - @item?.EndDate</td>
                <td>@item?.Status?.StatusName</td>
                <td class="blue-text">
                    <a class="tooltipped" data-position="top" data-tooltip="Editar" asp-area="ProgramacionDeSeguimiento" asp-controller="ProgramacionDeSeguimiento" asp-action="Editar" asp-route-id="@item.ScholarshipProgramTracingId">
                        <i class="material-icons">edit</i>

                    </a>
                </td>
            </tr>
        }




    </tbody>
    <tfoot>
        <tr>
            <th>Id Seguimiento</th>
            <th>Programa</th>
            <th>Universidad</th>
            <th>Cordinador</th>
            <th>Rango de Fechas</th>

            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </tfoot>
</table>

<div class="modal mt-4" id="formulariopassword"></div>

<div class="row ">
    <div class="col s5 center ml-10 mt-5 modal " id="formularioestado">

    </div>
</div>