@model IEnumerable<Inafocam.Web.Areas.ProgramacionDeSeguimiento.Models.GetScholarShipProgram>


    <option value=""> Seleccione el Programa</option>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <option value="@item.ScholarshipProgramUniversityId">@item.ScholarShipProgramNameScatCodeContractNumber</option>
        }
    }