@using Andamios.Web.Helpers
@using Microsoft.AspNetCore.Razor.Language.CodeGeneration
@inject Inafocam.core.Interfaces.IStatus _status
@model Inafocam.Web.Areas.ProgramacionDeSeguimiento.Models.ProgramaDeBecasMateriaUniversitariaViewModel


@{ ViewData["Title"] = "Create";

    MensajesViewModel mensaje = new MensajesViewModel();

    if (TempData["mensaje"] != null)
    {

        mensaje = TempData.Get<MensajesViewModel>("mensaje");

    } }

@section Style
{
    <link href="~/app-assets/vendors/noUiSlider/nouislider.css" rel="stylesheet" />
    <link href="~/app-assets/css/custom/custom.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
}


@* BREADCRUMB *@
@await Component.InvokeAsync("BreadcrumbComponent", new
{
    area = (string)ViewData["area"],
    controlador = (string)ViewData["controlador"],
    controller = (string)ViewData["controller"],
    vista = (string)ViewData["vista"]
})
@* END BREADCRUMB *@



<div class="row">
    <form class="col s12 formValidate" method="post" asp-area="ProgramacionDeSeguimiento" asp-controller="ProgramacionDeSeguimiento" asp-action="SaveProgramaDeBecasMateriaUniversitaria">

        <input type="hidden" asp-for="ProgramUniversityId" />
        <input type="hidden" asp-for="TracingId" />
        @*<input type="hidden" asp-for="CreationDate" />*@

        @*<input type="hidden" asp-for="Com" />*@

        @* Detalles del programa*@
        <div>
            <span asp-validation-sumary=""></span>
        </div>

        <div class="card">
            <div class="card-content">



                <h4 class="card-title">	</h4>


                <div class="row ">








                </div>



                <div class="row">

                    @*<div class="input-field col s12 m6 l3">
                        <div class="row">
                            <label for="select2User" class="col s12">Program de Universidad</label>
                        </div>
                        <select asp-for="ScholarshipProgramUniversityId" id="" class="form-control js-example-basic-single" style="width: 100%" asp-items="@(new SelectList(_scholarshipProgramUniversity.ScholarshipProgramUniversity,"ScholarshipProgramUniversityId","ScatProgramCode"))">

                            <option value="" disabled selected></option>
                        </select>
                    </div>*@

                    <div class="input-field col s12 m6 l4">
                        <div class="row">
                            <label for="select2User" class="col s12">Materia</label>
                        </div>
                        <select asp-for="TracingStudyPlanDevelopmentModel.SubjectMatterId" id="" class="form-control js-example-basic-single" style="width: 100%" asp-items="ViewBag.SubjectMatter">

                            <option value="" disabled selected>Seleccione una Opcion</option>
                        </select>
                    </div>

                    <div class="input-field col s12 m6 l4">
                        <div class="row">
                            <label for="select2User" class="col s12">Profesor</label>
                        </div>
                        <select asp-for="TracingStudyPlanDevelopmentModel.TeacherId" id="" class="form-control js-example-basic-single" style="width: 100%" asp-items="ViewBag.Teachers">

                            <option value="" disabled selected>Seleccione una Opcion</option>
                        </select>
                    </div>

                    @*<div class="input-field col s12 m6 l3">
                        <div class="row">
                            <label for="select2User" class="col s12">Estado</label>
                        </div>
                        <select id="" class="form-control js-example-basic-single" style="width: 100%" asp-items="@(new SelectList(_status.Status,"StatusId","StatusName"))">

                            <option value="" disabled selected></option>
                        </select>
                    </div>*@



                    <div class="input-field col s12 m6 l4">

                        <input asp-for="TracingStudyPlanDevelopmentModel.Creditos" id="creditos" type="number" class="validat black-text">

                        <label for="creditos">Creditos</label>


                    </div>
                    @*<div class="input-field col s12 m6 l3">
                        <div class="row">
                            <label for="select2User" class="col s12">Títulación del perfil por el cual hizo la asignación</label>
                        </div>
                        <select id="" class="form-control js-example-basic-single" style="width: 100%">

                            <option value="" disabled selected></option>
                        </select>
                    </div>*@

                </div>

                @*<div class="row">

                    <div class="input-field col s12 m6 l3">

                        <input id="" type="text" class="validat black-text">

                        <label for="">Promedio de calificación del total de estudiantes</label>


                    </div>

                    <div class="input-field col s12 m6 l3">

                        <input id="Telefono" type="text" class="validat black-text">

                        <label for="Telefono">Cantidad de estudiantes promovidos</label>


                    </div>

                    <div class="input-field col s12 m6 l3">

                        <input id="cantidadestudiantesreprobado" type="text" class="validat black-text">

                        <label for="cantidadestudiantesreprobado">Cantidad de estudiantes reprobado</label>


                    </div>

                    <div class="input-field col s12 m6 l3">

                        <input id="cantidadestudiantesretirados" type="text" class="validat black-text">

                        <label for="cantidadestudiantesretirados">Cantidad de Estudiantes Retirados</label>


                    </div>




                </div>*@
                <table>
                    <thead>
                        <tr>
                            <th style="border: solid 1px; border-color: #e0e0e0;">Materia</th>
                            <th style="border: solid 1px; border-color: #e0e0e0;">Creditos</th>
                            <th style="border: solid 1px; border-color: #e0e0e0;">Profesor Asignado</th>
                            @*<th style="border: solid 1px; border-color: #e0e0e0;">Periodo de convocatoria</th>
                            <th style="border: solid 1px; border-color: #e0e0e0;">Periodo del Programa</th>
                            <th style="border: solid 1px; border-color: #e0e0e0;">Acciones</th>*@
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.TracingStudyPlanDevelopmentList == null)
                        {
            <tr>
            </tr>
                        }

                    else
                    {

                    @foreach (var item in Model?.TracingStudyPlanDevelopmentList)
                    {

                    <tr>


                        <td style="border: solid 1px; border-color: #e0e0e0;">@item?.SubjectMatter.SubjectMatterCode - @item?.SubjectMatter.SubjectMatterName</td>
                       <td style="border: solid 1px; border-color: #e0e0e0;">@item.Creditos</td>
                        <td style="border: solid 1px; border-color: #e0e0e0;">@item?.Teacher?.Contact?.ContactName</td>

         
                        @*<td style="border: solid 1px; border-color: #e0e0e0;">@item?.AnnouncementStartDate - @item?.AnnouncementEndDate</td>
                        <td style="border: solid 1px; border-color: #e0e0e0;">@item?.StartDate - @item?.EndDate</td>
                        <td style="border: solid 1px; border-color: #e0e0e0;" class="center-align">
                            <a class="red-text tooltipped" data-position="top" data-tooltip="Eliminar" href="#">
                                <i class="material-icons ">delete</i>
                            </a>
                        </td>*@

                    </tr>
                }}

                    </tbody>
                </table>

            </div>

        </div>

        <button class="btn" type="submit">Guardar</button>

    </form>


  
</div>

@section Scripts
{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/app-assets/vendors/jquery-validation/jquery.validate.js"></script>
    <script src="~/app-assets/vendors/jquery-validation/additional-methods.js"></script>
    <script src="~/app-assets/vendors/jquery-cookies/jquery.cookies.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME JS-->
    <script src="~/app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/app-assets/js/toastr.init.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/formatter/jquery.formatter.min.js" type="text/javascript"></script>
    @*<script src="~/app-assets/js/scripts/form-elements.js"></script>
        <script src="~/app-assets/js/scripts/form-masks.js"></script>
        @*<script src="~/app-assets/js/scripts/form-layouts.js" type="text/javascript"></script>*@
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <script>
        @*$('#descripcionTxtArea').val('@Model.Descripcion');
        M.textareaAutoResize($('#textarea2'));*@


        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                placeholder: "Select a state",
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, options);
        });

        // Or with jQuery

        $(document).ready(function () {
            $('.datepicker').datepicker();
        });

    </script>
}
